
.container {
    width: 350px;
    height: 500px;
    z-index: 7;
    position: absolute;
    top: 0px;
    left: 0px;
}
.container:hover{
    z-index: 14;
}
.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}
.card {
    height: 100%;
    width: 100%;
    transition: transform 1500ms;
    transform-style: preserve-3d;  
}
.front,
.back {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden; 
    background-color: #3a3a3a;
    border: 1px solid black;
}
.back {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
}
.container1 {
    width: 350px;
    height: 500px;
    z-index: 6;
    position: absolute;
    top: 0px;
    left: 50px;
}
.container1:hover{
    z-index: 13;
}
.container1:hover > .card1 {
    cursor: pointer;
    transform: rotateY(180deg);
}
.card1 {
    height: 100%;
    width: 350px;
    transition: transform 1500ms;
    transform-style: preserve-3d;  
}
.front1,
.back1 {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden; 
    background-color: #3a3a3a;
    border: 1px solid black;
}
.back1 {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
}
.container2 {
      width: 350px;
      height: 500px;
      z-index: 5;
      position: absolute;
      top: 0px;
      left: 100px;
}
.container2:hover{
      z-index: 12;
    }
    
    .container2:hover > .card2 {
      cursor: pointer;
      transform: rotateY(180deg);
     
    }
    
    .card2 {
      height: 100%;
      width: 350px;
     transition: transform 1500ms;
      transform-style: preserve-3d;  
    
    }
    
    .front2,
    .back2 {
      height: 100%;
      width: 100%;
      position: absolute;
       backface-visibility: hidden; 
      background-color: #3a3a3a;
      border: 1px solid black;
    
     }
    
    
    
    .back2 {
      background-color: #3a3a3a;
      transform: rotateY(180deg);
      display: flex;
      }
    
  
      .container3 {
        width: 350px;
        height: 500px;
        z-index: 4;
        position: absolute;
        top: 0px;
        left: 150px;
       
        
      }
    
      .container3:hover{
        z-index: 11;
      }
      
      .container3:hover > .card3 {
        cursor: pointer;
        transform: rotateY(180deg);
       
      }
      
      .card3 {
        height: 100%;
        width: 350px;
       transition: transform 1500ms;
        transform-style: preserve-3d;  
      
      }
      
      .front3,
      .back3 {
        height: 100%;
        width: 100%;
        position: absolute;
         backface-visibility: hidden; 
        background-color: #3a3a3a;
        border: 1px solid black;
      
       }
      
      
      
      .back3 {
        background-color: #3a3a3a;
        transform: rotateY(180deg);
        display: flex;
        }
      
        .container4 {
          width: 350px;
          height: 500px;
          z-index: 3;
          position: absolute;
          top: 0px;
          left: 200px;
         
          
        }
      
        .container4:hover{
          z-index: 10;
        }
        
        .container4:hover > .card4{
          cursor: pointer;
          transform: rotateY(180deg);
         
        }
        
        .card4 {
          height: 100%;
          width: 350px;
         transition: transform 1500ms;
          transform-style: preserve-3d;  
        
        }
        
        .front4,
        .back4 {
          height: 100%;
          width: 100%;
          position: absolute;
           backface-visibility: hidden; 
          background-color: #3a3a3a;
          border: 1px solid black;
        
         }
        
        
        
        .back4 {
          background-color: #3a3a3a;
          transform: rotateY(180deg);
          display: flex;
          }

          .container5 {
            width: 350px;
            height: 500px;
            z-index: 2;
            position: absolute;
            top: 0px;
            left: 250px;
           
            
          }
        
          .container5:hover{
            z-index: 9;
          }
          
          .container5:hover > .card5{
            cursor: pointer;
            transform: rotateY(180deg);
           
          }
          
          .card5 {
            height: 100%;
            width: 350px;
           transition: transform 1500ms;
            transform-style: preserve-3d;  
          
          }
          
          .front5,
          .back5 {
            height: 100%;
            width: 100%;
            position: absolute;
             backface-visibility: hidden; 
            background-color: #3a3a3a;
            border: 1px solid black;
          
           }
          
          
          
          .back5 {
            background-color: #3a3a3a;
            transform: rotateY(180deg);
            display: flex;
          }
          .container6 {
            width: 350px;
            height: 500px;
            z-index: 1;
            position: absolute;
            top: 0px;
            left: 300px;
           
            
          }
        
          .container6:hover{
            z-index: 8;
          }
          
          .container6:hover > .card6{
            cursor: pointer;
            transform: rotateY(180deg);
           
          }
          
          .card6 {
            height: 100%;
            width: 350px;
           transition: transform 1500ms;
            transform-style: preserve-3d;  
          
          }
          
          .front6,
          .back6 {
            height: 100%;
            width: 100%;
            position: absolute;
             backface-visibility: hidden; 
            background-color: #3a3a3a;
            border: 1px solid black;
          
           }
          
          
          
          .back6 {
            background-color: #3a3a3a;
            transform: rotateY(180deg);
            display: flex;
          }
         